
    




.ZIP{
    background-color: green
}

td{
    color: aqua;
    border: 1px solid red;
    
}


th{
    color: blue;
    border: 1px solid green;
    font-size: 13px;
    padding: 8px;
    width: 51px;
    
}

.ULO{
    background-color: green
}

.IKEM{
    background-color: blue;
}





